<h1>{{title}}</h1>

{{#if isValid}}

<div>
    <ul id="product-list">
        {{#each products}}
        <li data-id="{{_id}}">
            <h2>{{ title }}</h2>
            <img src={{{thumbnails}}}>
            <p>{{description}}</p>
            <p>${{price}}</p>
            <button class="add-to-cart-button" data-pid="{{_id}}">Agregar al carrito</button>
        </li>
        {{/each}}


    </ul>
</div>

<div>
    {{#if hasPrevPage}}
    <a href={{prevLink}}>Previous</a>
    {{/if}}

    <span>Page {{page}} of {{totalPages}}</span>

    {{#if hasNextPage}}
    <a href={{nextLink}}>Next</a>
    {{/if}}
</div>
{{else}}
<h2>No hay productos para mostrar</h2>
{{/if}}